@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800;900&family=Noto+Serif+Bengali:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Archivo & Noto Serif  */

/* SirajeeSheikh */

@font-face {
  font-family: 'Sirajee Shaikh';
  src: url('/fonts/LiSirajeeSheikhPlainUnicode-Regular.otf') format(opentype), url('/fonts/LiSirajeeSheikhPlainUnicode-Regular.ttf') format(truetype);
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* .swiper-wrapper {
  @apply !-ml-10;
}
.swiper-slide {
  display: flex !important;
  justify-content: center;
  @apply !scale-95;
  opacity: 70%;
}
.swiper-slide-active {
  @apply !scale-125;
  @apply mx-10;
  opacity: 100%;
} */

.donation-slide .swiper-slide {
  width: 362px !important;
  @apply h-[170px];
}

.swiper-slide .slideContentContainer {
  @apply h-full;
}

.swiper-slide-active .slideContentContainer {
  @apply -mt-[17.5px];
  @apply items-start;
}

.swiper-slide-active .slideContent {
  @apply w-[362px];
  @apply h-[153px];
}

.swiper-slide-prev .slideContentContainer {
  @apply -ml-9;
}

.swiper-slide-next .slideContentContainer {
  @apply -mr-9;
}

.donate-Swiper .swiper-slide-active svg {
  @apply text-plant-700;
  @apply text-xl;
  @apply p-0.5;
  @apply bg-white;
  @apply -mt-0.5;
}

canvas.react-pdf__Page__canvas {
  width: 320px !important;
  height: auto !important;
}

.custom-success-modal {
  @apply p-10;
  @apply pb-0;
  @apply flex;
  @apply flex-col;
  @apply items-center;
}

.modal-image {
  @apply pb-10;
}

.modal-title {
  @apply pb-10;
  @apply pb-3;
  @apply text-3xl;
  @apply font-bold;
}

.modal-btn {
  @apply text-white;
}

button.swal2-confirm.swal2-styled.swal2-default-outline {
  padding: 10px 28px 10px 28px !important;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 600;
}

.swal2-popup.swal2-modal.swal2-show {
  padding-bottom: 40px;
  width: 720px;
  border-radius: 16px;
}
